Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^publication/[a-z0-9]+(?:-[a-z0-9]+)*/?$ publication/index.html [L]
</IfModule>

<FilesMatch "^\.">
  Require all denied
</FilesMatch>
